node_modules
.vscode
.env
.env.local

# Exclude macOS Finder (System Explorer) View States
.DS_Store

*.sqlite

# Intellij
*.iml
.idea

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# E2E Tests
.obsidian-unpacked
e2e-tests/setup/test-vault/.obsidian/plugins
e2e-tests/test-results/
e2e-tests/test-vaults/

# Vitest
coverage/

# Stryker
.stryker-tmp
reports/
