# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

*.sqlite

# for e2e
.obsidian-unpacked
test-results
src/tests/test-vault/
src/tests/e2e-test-vaults/
src/tests/e2e-user-data/